@import "../vars";

.block {
  &__title {
    font-weight: 700;
    font-size: 44px;
    color: black;

    &_pink {
      color: $pink;
    }

    &_blue {
      color: $blue;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__button {

  }
}
