.features {
  padding: 80px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767.98px) {
      flex-direction: column-reverse;
    }
  }

  &-block {
    max-width: 315px;

    @media (max-width: 767.98px) {
      padding: 0 20px;
      max-width: none;
    }
  }

  &__content {
    flex: 0 1 50%;

    @media (max-width: 767.98px) {
      margin-bottom: 35px;
    }
  }
}
