.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &__container {
    display: flex;
    align-items: center;
    min-height: 114px;

    @media (max-width:  991.98px) {
      min-height: 80px;
    }
  }

  &-logo {
    position: relative;
    z-index: 5;

    @media (max-width: 767.98px) {
      background-color: $white;
      padding: 5px;
      border-radius: 10px;
    }

    @media (max-width:  457.98px) {
      padding: 0;
      flex: 0 0 40px;
      overflow: hidden;
    }
  }

  &__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;

    @media (max-width:  991.98px) {
      flex: 0 0 170px;
    }

    @media (max-width: 767.98px) {
      z-index: 5;
    }
  }
}
