@import "../vars";

.main {
  flex: 1 1 auto;
}

.started {
  background-color: $bgStartedSct;

  &__container {
    position: relative;
    padding: 152px 15px 48px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:before {
      top: 0;
      right: 267px;
      content: '';
      width: 100vw;
      height: 100%;
      position: absolute;
      background: $bgLightRed;
      border-radius: 30px 0 0 30px;
      transform: translate(100%, 0);
      
      @media (max-width: 991.98px) {
        right: 185px;
      }

      @media (max-width: 767.98px) {
        right: 220px;
      }

      @media (max-width:  457.98px) {
        display: none;
      }
    }

    @media (max-width: 767.98px) {
      padding: 85px 15px 48px 15px;
    }
  }

  &__block {
    &-text {
      max-width: 410px;


      @media (max-width: 767.98px) {
        max-width: none;
      }
    }
  }

  &__content {
    padding: 0 20px;
    flex: 0 1 48%;

    &_video {
      padding: 60px 0 0 20px;
      flex: 1 1 100%;
    }

    &_img {
      z-index: 2;
      position: relative;
      flex: 0 1 52%;

      &-el {
        max-width: 100%;
      }

      @media (max-width: 767.98px) {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0;
      }
    }

    @media (max-width: 767.98px) {
      z-index: 5;
      padding: 20px;
      background-color: $bgStartedSct;
      border-radius: 20px;
      flex: 1 1 100%;
    }
  }
}

.video-started {
  align-items: center;
  display: inline-flex;

  &__img {
    flex: 0 0 44px;
  }

  &__content {
    margin-left: 12px;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 13px;
      color: $lightGray;
      letter-spacing: 1.5px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &-text {
      text-transform: uppercase;
      font-size: 9px;
      color: $black;
      letter-spacing: 2px;
    }
  }
}
