<main class="main">
  <section class="started">
    <div class="started__container">
      <div class="started__content">
        <div class="started__block block">
          <h1 class="started__block-title block__title">
            Take care of yours family’s
            <span class="started__block-title_blue block__title_blue">health.</span>
          </h1>
          <p class="started__block-text block__text">
            All in one destination for COVID-19 health queries.
            Consult 10,000+ health workers about your concerns.
          </p>
          <button type="button" class="started__block-button block__button button">
            <span class="button__text">GET STARTED</span>
          </button>
        </div>
      </div>
      <div class="started__content_img">
        <img src="img/svg/people.svg" alt="people" class="started__content_img-el">
      </div>
      <div class="started__content_video">
        <a href="#" class="video-started">
          <div class="video-started__img">
            <img src="img/svg/play.svg" alt="play" class="video-started__img-el">
          </div>
          <div class="video-started__content">
            <span class="video-started__content-title">Stay safe with GoCorona</span>
            <span class="video-started__content-text">Watch Video</span>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="features__container">
        <div class="media-app">
          <div class="media-app__img">
            <img src="img/app.png" alt="app" class="media-app__img-el">
          </div>
          <div class="media-app__item media-app__item-top"></div>
          <div class="media-app__item media-app__item-middle"></div>
          <div class="media-app__item media-app__item-bottom"></div>
        </div>
      <div class="features__content">
        <div class="features__block block">
          <h2 class="features__block-title block__title">
            Stay safe with Go<span class="features__block-title_blue block__title_pink">Corona.</span>
          </h2>
          <p class="features__block-text block__text">
            24x7 Support and user-friendly mobile platform to bring healthcare to your fingertips.
            Signup and be a part of the new health culture.
          </p>
          <button type="button" class="features__block-button block__button button">
            <span class="button__text">Features</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>