<div class="features__container">
	<div class="media-app">
		<div class="media-app__img">
			<img src="img/app.png" alt="app" class="media-app__img-el">
		</div>
		<div class="media-app__item media-app__item-top"></div>
		<div class="media-app__item media-app__item-middle"></div>
		<div class="media-app__item media-app__item-bottom"></div>
	</div>
	<div class="features__content">
		<div class="features__block block">
			<h2 class="features__block-title block__title">
				Stay safe with Go<span class="features__block-title_blue block__title_pink">Corona.</span>
			</h2>
			<p class="features__block-text block__text">
				24x7 Support and user-friendly mobile platform to bring healthcare to your fingertips.
				Signup and be a part of the new health culture.
			</p>
			<button type="button" class="features__block-button block__button button">
				<span class="button__text">Features</span>
			</button>
		</div>
	</div>
</div>