<div class="started__container">
	<div class="started__content">
		<div class="started__block block">
			<h1 class="started__block-title block__title">
				Take care of yours family’s
				<span class="started__block-title_blue block__title_blue">health.</span>
			</h1>
			<p class="started__block-text block__text">
				All in one destination for COVID-19 health queries.
				Consult 10,000+ health workers about your concerns.
			</p>
			<button type="button" class="started__block-button block__button button">
				<span class="button__text">GET STARTED</span>
			</button>
		</div>
	</div>
	<div class="started__content_img">
		<img src="img/svg/people.svg" alt="people" class="started__content_img-el">
	</div>
	<div class="started__content_video">
		<a href="#" class="video-started">
			<div class="video-started__img">
				<img src="img/svg/play.svg" alt="play" class="video-started__img-el">
			</div>
			<div class="video-started__content">
				<span class="video-started__content-title">Stay safe with GoCorona</span>
				<span class="video-started__content-text">Watch Video</span>
			</div>
		</a>
	</div>
</div>