<main class="main">
  <section class="started">
    @include('partials-started.html')
  </section>
  <section class="features">
    @include('partials-features.html')
  </section>
  <section class="about">
    @include('partials-about.html')
  </section>
  <section class="healthcare">
    <div class="healthcare__container">
      <div class="healthcare__block block">
        <h2 class="healthcare__block-title block__title">
          <span class="healthcare__block-title_pink block__title_pink">Healthcare</span>
          at your Fingertips.
        </h2>
        <p class="healthcare__block-text block__text">
          Bringing premium healthcare features to your fingertips.
          User friendly mobile platform to bring healthcare to your fingertips.
          Signup and be a part of the new health culture.
        </p>
      </div>
    </div>
  </section>
</main>