<div class="about__container">
  <section class="statistics">
    <ul class="statistics-list">
      <li class="statistics-item">
        <h3 class="statistics-item__value">2m</h3>
        <p class="statistics-item__description">users</p>
      </li>
      <div class="statistics-item">
        <h3 class="statistics-item__value">78</h3>
        <p class="statistics-item__description">countries</p>
      </div>
      <div class="statistics-item">
        <h3 class="statistics-item__value">10,000+</h3>
        <p class="statistics-item__description">medical experts</p>
      </div>
    </ul>
    <div class="statistics__el statistics__el--left"></div>
    <div class="statistics__el statistics__el--middle"></div>
    <div class="statistics__el statistics__el--right"></div>
  </section>
  <section class="experts">
    <div class="experts__content">
      <div class="experts-block block">
        <h1 class="experts-block__title block__title">
          Talk to
          <span class="experts-block__title--blue block__title--blue">experts.</span>
        </h1>
        <p class="experts-block__text block__text">
          Book appointments or submit queries into thousands of forums concerning
          health issues and prevention against novel Corona Virus.
        </p>
        <button type="button" class="experts-block__button block__button button">
          <span class="button__text">features</span>
        </button>
      </div>
    </div>
    <div class="experts-video">
      <iframe class="experts-video__iframe" src="https://www.youtube-nocookie.com/embed/D9tTi-CDjDU?controls=0"
        allow="accelerometer; autoplay; lipboard-write;bencrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </section>
</div>
