<div class="features__container">
  <div class="media">
    <div class="media-img">
      <img src="img/app.png" alt="app" class="media-img__el">
    </div>
    <div class="media__el media__el--top"></div>
    <div class="media__el media__el--middle"></div>
    <div class="media__el media__el--bottom"></div>
  </div>
  <div class="features__content">
    <div class="features-block block">
      <h2 class="features-block__title block__title">
        Stay safe with Go<span class="features-block__title--pink block__title--pink">Corona.</span>
      </h2>
      <p class="features-block__text block__text">
        24x7 Support and user-friendly mobile platform to bring healthcare to your fingertips.
        Signup and be a part of the new health culture.
      </p>
      <button type="button" class="features-block__button block__button button">
        <span class="button__text">Features</span>
      </button>
    </div>
  </div>
</div>
