<div class="healthcare__container">
  <div class="healthcare-block block">
    <h2 class="healthcare-block__title block__title">
      <span class="healthcare-block__title--pink block__title--pink">Healthcare</span>
      at your Fingertips.
    </h2>
    <p class="healthcare-block__text block__text">
      Bringing premium healthcare features to your fingertips.
      User friendly mobile platform to bring healthcare to your fingertips.
      Signup and be a part of the new health culture.
    </p>
  </div>
</div>
