[class*="__container"] {
	max-width: 1087px;
	margin: 0 auto;
	padding: 0 15px;

	@media (max-width: 1087px) {
		max-width: 970px;
	}

	@media (max-width: 991.98px) {
		max-width: 750px;
	}

	@media (max-width: 767.98px) {
		max-width: none;
	}
}

.wrapper {
	display: flex;
	overflow: hidden;
	min-height: 100%;
	flex-direction: column;
}
