$gray: #616161;
$white: #fcfdfe;
$black: #000;
$blue: #4285f4;
$pink: #ec5863;
$lightGray: #b0b0b0;

// background
$bgBlue: #4285f4;
$bgRed: #ec5863;
$bgStartedSct: #fafbfd;

// background hover
$bgBlueHvr: #70a3f7;
$bgLogoHvr: rgba(255, 255, 255, 0.85);
